.accountsettings{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.accountsettings h1{
    color: var(--col1);
    font-size: 30px;
    font-weight: 300;
    padding: 10px 20px;
    margin-top: 10px;
}

.accountsettings .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.accountsettings .form .form-group{
    display: flex;
    flex-direction: column;
    width: 2000px;
    margin: 10px;
    align-items: center;
}

.accountsettings .form .form-group label{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.accountsettings .form .form-group input{
    padding: 10px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    outline: none;
}