.forgotPwform-content{
    position: absolute;
    background-color: #C6DEF1;
    height: 100%;
    width: 100%;
}
.forgotPw-content{
    background-color: rgba(186, 213, 228, 0.603);
    position: absolute;
    top: 45%;
    left: 8%;
    width: 600px;
    height: 220px;
    border-radius: 20px;
}
.forgotPw-content h3{
    position: absolute;
    top: 10%;
    left: 10%;
}
.forgotPw-content p{
    position: absolute;
    top: 25%;
    left: 10%;
}
.resetPw-lbl{
    position: absolute;
    top: 60%;
    left: 14%;
    color: black;
}
.email-reset-btn{
    position: absolute;
    top: 60%;
    left: 44%;
    background-color: #3431c7;
    border-radius: 70px;
}
.back-img{
    width: 25px;
    position: absolute;
    top: 47.5%;
    left: 9%;
}
.error-message-forgot{
    position: absolute;
    top: 68%;
    left: 37%;
    font-size: x-small;
    color: #ff0000;
}